html {
  margin: 0;
  color:rgb(253, 253, 253);
  background-color:#1f1f1f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x:hidden;
  font-weight: normal;
}

body {
  margin: 0;
  width:100vw;
  height:100vh;
  font-size:0.8em;
  overflow:hidden;
}

header {
  height:5vh;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main{
  text-align:center;
  margin:auto;
  position:relative;
  width:100vw;
  height:95vh;
}

#map {
  width:55vw;
  height: 95vh;
  position:relative;
  border: 2px solid black;
  border-radius:0.25em;
  filter: brightness(85%);
}

#bar {
  width:45vw;
  text-align:center;
  font-size: 1.5em;
  margin: 0.4em 0 0.5em 0;
  padding: 0 1.5em;
  font-weight:bold;
  color:white;
  display:flex;
  flex-direction:column;
}

h1 {
  font-weight:normal;
}

h3 {
  font-weight:normal;
  text-align: left;
  margin-bottom:0.5em;
}

h4 {
  font-weight:normal;
  text-transform:uppercase;
  font-weight: bold;
  margin-top:0;
  margin-left:0.5em;
  margin-bottom:0.75em;
  color:rgb(83, 83, 83);
}

th {
  white-space:nowrap;
  font-weight: bold;
}

table {
  background-color: rgb(201, 201, 201);
  color:black;
  padding:0 1em 0.5em 0;
  margin-bottom:1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: left;
  padding:0.5em;
}

input[type=checkbox] {
  margin-right:0.75em;
}

label {
  font-weight:normal;
  white-space:nowrap;
}

input {
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
}

.flex {
  position:relative;
  height:100%;
  display:flex;
  flex-direction:row;
}

#recs-area {
  font-size:0.95em;
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  overflow-y:auto;
  height:100%;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

#payback-time-filters, #epc-recs-filters, #co2-impact-filters {
  text-align: left;
}

.control-panel-white {
  padding:1em 1em 0em 1em;
  background-color: rgba(255,255,255,0.9);
  color:black;
  text-align:left;
  height:fit-content;
  max-width:15em;
}

.accordion {
  max-height:"0em";
  overflow:hidden;
  transition: max-height 1s;
}

.legend-checkbox {
  width:1em;
  height:1em;
  line-height:1;
  text-align:center;
  user-select:none;
  pointer-events: all !important;
  display:inline-block;
  padding:1px;
  cursor:pointer;
  border-radius:3px;
  border: 1px solid rgb(55,55,55);
  background-color:rgb(0, 0, 0, 0.1);
  color:transparent;
}

.legend-checkbox:hover {
  filter:brightness(110%);
}

.legend-checkbox.checked {
  color:white;
}

#veil {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  background-color:rgb(255,255,255,0.9);
  position:absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  cursor:pointer;
}

#veil *{
  pointer-events:none;
}

#veil * a{
  pointer-events:all;
}

h1 {
  display:inline-block;
  text-align:center;
  font-size: 1.8em;
  font-weight: bold;
}

#ungeolocated-results-list {
  max-height:15em !important;
  overflow: hidden auto;
  margin:0;
}

.ungeolocatable-list-item {
  padding-left:0.5em;
  border: 1px solid transparent;
  background-color:rgb(230, 230, 230);
  cursor:pointer;    
}

.ungeolocatable-list-item:hover {
  border: 1px solid black;
}

#list {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:55vw;
  height: 95vh;
  font-size:1.2em;
}

#list-content{
  color:black;
  min-height:60%;
  max-height:60%;
  width:60%;
  justify-content: center;
  display:flex;
  margin-top:0.5em;
}

.html-list-hero {
  text-align:left;
  width:100%;
  background-color:rgb(230, 230, 230);
}

#load-location-csv-anchor-tag:link {
  color:aqua;
}

#load-location-csv-anchor-tag:visited {
  color:magenta;
}

#certificate-filters-section-list-view {
  width:50%;
}

#list-view-filters {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#list-view-filters-legend-checkbox-area {
  display:flex;
  margin-top:0.25em;
  justify-content:start;
  width:100%;
  overflow:hidden auto;
  flex-wrap:wrap;
  max-height:7em;
  padding:0.3em 0.25em 0.25em 0.25em;
  border: 1px solid gray;
  border-radius: 0.5em;
}